@font-face {
  font-family: quicksandLight;
  src: url('../fonts/Quicksand-Light.ttf');
}

@font-face {
  font-family: quicksandRegular;
  src: url('../fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: quicksandSemiBold;
  src: url('../fonts/Quicksand-SemiBold.ttf');
}

body, html {
  height:100%;
  margin:0;
  color:#666;
  font-family: quicksandRegular !important;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* Global Page Setup */

.background {
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image: url('../img/bimg.png');
  min-height: 100%;
  scroll-snap-align: start;
}

.highlighted { /* For text to be highlighted as bold */
  font-family: quicksandSemiBold;
}

/* Navbar */

.fixed-top {
  color: #fff;
  transition: color 100ms linear;
}

.fixed-top.scrolled { /* Change colour of navbar text when on white bg */
  color: #000 !important;
  transition: color 100ms linear;
  opacity: 0.7;
}

.navbar-brand {
  font-family: quicksandLight;
  font-size: 200% !important;
  color: inherit !important;
}

.nav-link {
  font-family: quicksandLight;
  font-size: 150%;
  color: inherit !important;
}

/* Main Frame text */
.paraText{
  position:absolute;
  top:60%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:2.5vw; /* Need to make responsive */
  font-family: quicksandRegular;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  justify-content: center;
  animation:
    typing 6s steps(60, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.paraText .paraBorder{
  background-color: transparent;
  color:#fff;
  padding:20px; /* Need to make responsive */
}

.paraText .paraBorder .smallParaText {
  font-size: 1.5vw; /* Need to make responsive */
  letter-spacing: 0.05em;
  padding-top: 0.2%;
}

.social-links {
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.media-link {
  transition: transform .2s;
}

.media-link:hover {
  transform: scale(1.2);
}

/* Section Setup */
.section {
  text-align: center;
  padding: 1% 1%;
  padding-top: 5vh;
  min-height: 100%;
  color: #000;
  background-color: #fff;
  scroll-snap-align: start;
}

.section-title {
  width: 100%;
  height: 2%;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 2vw;
  font-family: quicksandSemiBold;
}

.section-text {
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Section */


/* Skillbars */
.skillbar {
  align-items: flex-end;
  background-color: #C1CAD6;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  font-family: quicksandLight;
}

.skillbar .fill {
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: 1;
  padding: 0;
  height: 100%;
}

.skillbar-row {
  margin-top: 1%;
}

.skillbar .tag {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  align-items: center;
  width: 5vw;
  background-color: #000;
  color: #fff;
  font-family: quicksandRegular;
}

#skillbar-group {
  margin-left: 5%;
}

/* Media Containers */
.container {
  min-height: 100%;
}

#about-info {
  margin-top: 5%;
}

#profile-image {
  max-width: 15vw;
  max-height: 15vw;
}

.academic-group {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
}

.academic-title {
  padding-bottom: 0.6%;
  text-align: center;
  width: 100%;
}

.academic-description {
  text-align: center;
  font-family: quicksandLight;
}

/* Work Section */
.work-row {
  width: 100%;
}

.work-card {
  width: 18vw;
}

.btn-work {
  background-color: #000;
  color: #fff;
}

/* Footer Setup */
.footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footer-content {
  text-align: right;
  padding-right: 2%;
}

.text-muted {
  font-family: quicksandLight;
  color: #000;
  font-size: 1vw;
}

@media screen and (max-width: 600px) { /* Smart phone devices */
  .paraText {
    font-size: 2.5vh;
  }

  .smallParaText {
    font-size: 1vh !important;
  }

  .social-links {
    visibility: hidden;
  }

  .section-title {
    font-size: 2.5vh;
  }

  .section-text {
    padding-top: 3vh;
    font-size: 1.5vh;
  }

  #profile-image {
    max-width: 15vh;
    max-height: 15vh;
  }
}
